@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grid background */
.bg-grid {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #e4e4e7 1px, transparent 1px),
    linear-gradient(to bottom, #e4e4e7 1px, transparent 1px);
}
.dark .bg-grid {
  background-image:
    linear-gradient(to right, #262626 1px, transparent 1px),
    linear-gradient(to bottom, #262626 1px, transparent 1px);
}
.bg-grid-fade {
  mask-image: radial-gradient(ellipse at center, transparent 20%, black);
  -webkit-mask-image: radial-gradient(ellipse at center, transparent 20%, black);
}

@layer base {
  @font-face {
    font-family: "latin-mono-regular";
    src: url("../webAssets/fonts/LMMono10-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "latin-mono-caps";
    src: url("../webAssets/fonts/LMMonoCaps10-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "latin-mono-cond-oblique";
    src: url("../webAssets/fonts/lmmonoltcond10-oblique-webfont.woff")
      format("woff");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "latin-roman";
    src: url("../webAssets/fonts/LMRoman10-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "latin-roman-caps";
    src: url("../webAssets/fonts/LMRomanCaps10-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
  }
  @font-face {
    font-family: "latin-roman-dunhill-oblique";
    src: url("../webAssets/fonts/LMRomanDunh10-Oblique.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
  }
}
